<div class="container main-panel">
  <div class="jumbotron">
    <h1> Mongo Scraper - Movie Headlines Edition!</h1>
    <p class="lead">
      This Site Scrapes the latest movie news from Rotten Tomatoes and lets you save them for future use.
    </p>
    <hr class="my-2">
    <p>
      Click the Button to begin the Scrape!
    </p>
    <a class="btn btn-primary btn-lg" href="/scrape" role="button">{{scrape}}</a>
  </div>
</div>