<div class="container main-panel">
  <div class="jumbotron">
    <h1> Mongo Scraper - Movie Headlines Edition!</h1>
    <p class="lead">
      This Site Scrapes the latest movie news from Rotten Tomatoes and lets you save them for future use.
    </p>
    <hr class="my-2">
    <p>
      Click the Button to begin the Scrape! Be Careful! This will reset all articles and comments!
    </p>
    <a class="btn btn-primary btn-lg" href="/scrape" role="button">{{scrape}}</a>
    <div class="card m-2">
      <h4 class="card-header">Featured</h4>
      <div class="card-body">
        <a href="#">
          <h5 class="card-title">Special title treatment</h5>
        </a>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-info">Save Article</a>
        <a href="#" class="btn btn-info text-right">Save Note</a>
      </div>
    </div>
  </div>
</div>
</div>