<div class="card m-4">
  <h4 class="card-header">{{title}}</h4>
  <div class="card-body">
    <h5 class="card-header">Summary</h5>
    <p class="card-text">{{summary}}</p>
    <a href="{{link}}" class="btn btn-primary">Visit Article</a>
  </div>
</div>